body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-theme-l5 {color:#000 !important; background-color:#f5fbff !important}
.w3-theme-l4 {color:#000 !important; background-color:#ddf2ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#bce5ff !important}
.w3-theme-l2 {color:#000 !important; background-color:#9ad8ff !important}
.w3-theme-l1 {color:#000 !important; background-color:#78cbff !important}
.w3-theme-d1 {color:#fff !important; background-color:#35b1ff !important}
.w3-theme-d2 {color:#fff !important; background-color:#12a4ff !important}
.w3-theme-d3 {color:#fff !important; background-color:#0094ef !important}
.w3-theme-d4 {color:#fff !important; background-color:#007ecd !important}
.w3-theme-d5 {color:#fff !important; background-color:#0069ab !important}

.w3-theme-light {color:#000 !important; background-color:#f5fbff !important}
.w3-theme-dark {color:#fff !important; background-color:#0069ab !important}
.w3-theme-action {color:#fff !important; background-color:#0069ab !important}

.w3-theme {color:#000 !important; background-color:#56beff !important}
.w3-text-theme {color:#56beff !important}
.w3-border-theme {border-color:#56beff !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#56beff !important}
.w3-hover-text-theme:hover {color:#56beff !important}
.w3-hover-border-theme:hover {border-color:#56beff !important}

.slideshow-container {
    max-width: auto;
    position: relative;
    margin:auto;
    margin-top: 46px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: yellow;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgb(0, 128, 0);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.56);
    text-align:center;

}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: darkblue;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
